<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amritatimer">

    <application
        android:allowBackup="true"
        android:label="Amrita Timer"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Splash Screen Activity -->
        <activity android:name="com.example.timerapplication.FlashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Timer Screen Activity -->
        <activity android:name="com.example.timerapplication.TimerActivity" />
    </application>
</manifest>
